.container_row {
    display: flex;
    justify-content: flex-end;
}
.row_item {
    display: flex;
    align-items: center;
}

.item_text {
    font-family: "Arial", serif;
    padding: 0 8px;
}

.item_image {

}

.left {
    padding: 0 8px 0 0;
}

.right {
    padding: 0 8px;
}

.auto-send-select {
    font-family: "Arial", serif;
}