.container_row {
}
.row_items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row_item {
    display: flex;
    justify-content: flex-end;
    margin: 4px 0;
}

.item_text {
    font-family: "Arial", serif;
    padding: 0 8px;
}

.left {
    padding: 0 8px 0 0;
}

.right {
    padding: 0 8px;
}

.auto-send-select {
    font-family: "Arial", serif;
}