<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
    <Properties>
        <Property name="LOG_DIR">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="CheckControllerFile"
                     filePattern="${LOG_DIR}/check_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="ExperienceControllerFile"
                     filePattern="${LOG_DIR}/experience_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="PeerControllerFile"
                     filePattern="${LOG_DIR}/peer_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="PeerToPeerControllerFile"
                     filePattern="${LOG_DIR}/peerToPeer_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="TaskControllerFile"
                     filePattern="${LOG_DIR}/task_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="TransferredPointControllerFile"
                     filePattern="${LOG_DIR}/transferredPoint_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="VerterControllerFile"
                     filePattern="${LOG_DIR}/verter_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>
        <RollingFile name="VerterControllerFile"
                     filePattern="${LOG_DIR}/verter_logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <RollingFile name="File"
                     filePattern="${LOG_DIR}/logs_%d{dd-MM-yy-HH-mm-ss}.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Logger name="ru.s21school.http.controller.CheckController" level="info">
            <AppenderRef ref="CheckControllerFile"/>
        </Logger>

        <Logger name="ru.s21school.http.controller.ExperienceController" level="info">
            <AppenderRef ref="ExperienceControllerFile"/>
        </Logger>

        <Logger name="ru.s21school.http.controller.PeerController" level="info">
            <AppenderRef ref="PeerControllerFile"/>
        </Logger>

        <Logger name="ru.s21school.http.controller.PeerToPeerController" level="info">
            <AppenderRef ref="PeerToPeerControllerFile"/>
        </Logger>

        <Logger name="ru.s21school.http.controller.TaskController" level="info">
            <AppenderRef ref="TaskControllerFile"/>
        </Logger>

        <Logger name="ru.s21school.http.controller.TransferredPointController" level="info">
            <AppenderRef ref="TransferredPointControllerFile"/>
        </Logger>

        <Logger name="ru.s21school.http.controller.VerterController" level="info">
            <AppenderRef ref="VerterControllerFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>