<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/peers/{nickname}(nickname=${peer.getNickname()})}" th:object="${peer}">
    <div th:text="${peer.getNickname()}">nickname</div>

    <label for="age">Enter birthday: </label>
    <input type="date" th:field="*{birthday}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">ERROR_TEXT</div>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>