<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peers</title>
    <link rel="stylesheet" href="/resources/css/clearing.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css"/>
    <link rel="stylesheet" href="/resources/css/header.css">
    <link rel="stylesheet" href="/resources/css/pagination.css">
    <link rel="stylesheet" href="/resources/css/table.css">

</head>
<body>

<header></header>

<hr>
<div class="container-fluid">
    <a th:href="@{/peers/new}" class="btn btn-primary btn-sm mb-3"> Add Peer </a>
    <a th:href="@{/peers/export}" class="btn btn-primary btn-sm mb-3"> Export to CSV </a>
    <form id="fileuploadForm" action="/peers/import" method="POST" enctype="multipart/form-data">
        <label for="file">File</label>
        <input id="file" type="file" name="file" />
        <p><button class="btn btn-primary btn-sm mb-3" type="submit">Import from CSV</button></p>
    </form>

    <table class="table table-bordered table-striped table-href">
        <caption></caption>
        <thead class="table-dark">
        <tr>
            <th class="text-center">
                <a th:href="@{/peers/page-0(pageSize=${pageSize},sortField='nickname',sortDir=${reverseSortDir})}">
                    Nickname
                </a>
            </th>
            <th class="text-center">
                <a th:href="@{/peers/page-0(pageSize=${pageSize},sortField='birthday',sortDir=${reverseSortDir})}">
                    Birthday
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${peers}">
            <td>
                <a class="peer_ref" th:href="@{/peers/{nickname}(nickname=${person.getNickname()})}"
                   th:text="${person.getNickname()}"></a>
            </td>
            <td th:text="${person.getBirthday()}"/>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="container_pagination selector"></div>
    <div class="container_pagination">
        <div th:if="${totalPages > 1}">
            <div class="pagination">
                <ul></ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/resources/js/header_script.js"></script>
<script type="text/javascript" src="/resources/js/pagination_script.js"></script>
<script th:inline="javascript">
    path = '/peers/page-';
    createHeader('Peers')
    createSelector([[${totalPages}]], [[${currentPage} +1]]);
    createPagination([[${currentPage} +1]], [[${pageSize}]], [[${totalPages}]], [[${sortField}]], [[${sortDir}]]);
</script>
</body>
</html>