<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peers</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/resources/css/header.css">

    <link rel="stylesheet" href="/resources/css/peers.css">
    <link rel="stylesheet" href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css"/>
</head>
<body>

<header>
    <div class="container">
        <div class="row1">
            <div class="logo">
                <a href="/"><img src="/resources/img/welcome_page_logo.png" alt="" width="94px" height="88px"></a>
            </div>
            <div class="title">Peers</div>
        </div>
        <div class="row2">
            <div class="columns__row">
                <div class="column_item">
                    <div class="item__ref data">
                        <a href="/peers?limit=30&offset=0">Data
                            <ul class="submenu">
                                <li><a href="/peers?limit=30&offset=0">Peers</a></li>
                                <li><a href="#">Tasks</a></li>
                                <li><a href="#">Checks</a></li>
                                <li><a href="#">Verter</a></li>
                                <li><a href="#">XP</a></li>
                                <li><a href="#">P2P</a></li>
                                <li><a href="#">TransferredPoints</a></li>
                                <li><a href="#">Friends</a></li>
                                <li><a href="#">Recommendations</a></li>
                                <li><a href="#">TimeTracking</a></li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="column_item">
                    <div class="item__ref">
                        <a href="/peers/">Operations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<hr>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Nickname</th>
        <th>Birthday</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${peers}">
        <td>
            <a class="peer_ref" th:href="@{/peers/{nickname}(nickname=${person.getNickname()})}"
               th:text="${person.getNickname()}"></a>
        </td>
        <td th:text="${person.getBirthday()}"/>
    </tr>
    </tbody>
</table>
<hr>
<div class="container_row">
    <div class="row_items">
        <div class="row_item">
            <div class="item_text">Строк на странице</div>
            <select class='auto-send-select' data-action='/peers' name='select'>
                <option>30</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="item_text">
                Страница: <span th:text="${currentPage} + 1">offset</span> из <span
                    th:text="${totalPages}">total</span>
            </div>
        </div>
        <div class="row_item">
            <div th:if="${totalPages > 1}">
                <nav>
                    <ul class="pagination">
                        <li th:class="${currentPage > 0 ? 'page item' : 'page-item disabled'}">
                            <a th:href="@{/peers(limit=${limit}, offset=${0})}" class="page-link">First</a>
                        </li>
                        <li th:class="${currentPage > 0 ? 'page item' : 'page-item disabled'}">
                            <a th:href="@{/peers(limit=${limit}, offset=${currentPage} - 1)}" class="page-link">Previous</a>
                        </li>

                        <th:block th:if="${totalPages <= 10}">
                        <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                            th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                            <a th:href="@{/peers(limit=${limit}, offset=${i - 1})}" class="page-link">[[${i}]]</a>
                        </li>
                        </th:block>

                        <th:block th:if="${totalPages > 10}">
                            <th:block th:if="${currentPage + 1 <= 5 || currentPage + 1 >= totalPages - 4}">
                                <li th:each="i: ${#numbers.sequence(1, 5)}"
                                    th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                                    <a th:href="@{/peers(limit=${limit}, offset=${i - 1})}" class="page-link">[[${i}]]</a>
                                </li>

                                <a th:href="@{/peers(limit=${limit}, offset=${currentPage + 5})}" class="page-link">...</a>

                                <li th:each="i: ${#numbers.sequence(totalPages - 4, totalPages)}"
                                    th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                                    <a th:href="@{/peers(limit=${limit}, offset=${i - 1})}" class="page-link">[[${i}]]</a>
                                </li>
                            </th:block>

                            <th:block th:if="${currentPage + 1 > 5 && currentPage + 1 < totalPages - 4}">
                                <a th:href="@{/peers(limit=${limit}, offset=${currentPage - 5})}" class="page-link">...</a>

                                <li th:each="i: ${#numbers.sequence(currentPage - 3, currentPage + 5)}"
                                    th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                                    <a th:href="@{/peers(limit=${limit}, offset=${i - 1})}" class="page-link">[[${i}]]</a>
                                </li>

                                <a th:href="@{/peers(limit=${limit}, offset=${currentPage + 5})}" class="page-link">...</a>
                            </th:block>

                        </th:block>



                        <li th:class="${currentPage + 1 < totalPages ? 'page item' : 'page-item disabled'}">
                            <a th:href="@{/peers(limit=${limit}, offset=${currentPage} + 1)}" class="page-link">Next</a>
                        </li>
                        <li th:class="${currentPage + 1 < totalPages ? 'page item' : 'page-item disabled'}">
                            <a th:href="@{/peers(limit=${limit}, offset=${totalPages - 1})}" class="page-link">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" type="text/javascript" src="/resources/js/script.js"></script>
</body>
</html>