<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Peer</title>
    <link rel="stylesheet" href="/resources/css/clearing.css">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css"/>
    <link rel="stylesheet" href="/resources/css/header.css">
    <link rel="stylesheet" href="/resources/css/error_msg.css">

</head>
<header></header>
<body>
<div class="container">
    <form action="#" th:action="@{/tasks/new}" th:object="${task}"
          method="POST">
        <div class="form-group row mt-5">
            <label for="title" class="form-label"></label>
            <input type="text" id="title" th:field="*{title}"
                   placeholder="Title" class="form-control mb-4 col-4" aria-describedby="titleError">
            <small class=" error_message" id="titleError"
                   th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error title</small>
        </div>

        <div class="form-group row mt-5">
            <label for="parentTaskTitle" class="col-sm-2 col-form-label"></label>
            <input type="text" id="parentTaskTitle" th:field="*{parentTaskTitle}"
                   placeholder="Parent Task Title" class="form-control mb-4 col-4"
                   aria-describedby="parentTaskTitleError">
            <small class="error_message" id="parentTaskTitleError"
                   th:if="${#fields.hasErrors('parentTaskTitle')}" th:errors="*{parentTaskTitle}">error title</small>
        </div>

        <div class="form-group row mt-5">
            <label for="maxXp" class="col-sm-2 col-form-label"></label>
            <input type="number" id="maxXp" th:field="*{maxXp}"
                   placeholder="Maximum experience" class="form-control mb-4 col-4" aria-describedby="maxXpError">
            <small class="error_message" id="maxXpError"
                   th:if="${#fields.hasErrors('maxXp')}" th:errors="*{maxXp}">error title</small>
        </div>

        <button type="submit" class="btn btn-info col-2" onclick="return confirm_save()"> Save Task</button>
    </form>

    <hr>

    <a th:href="@{/tasks/}"> Back</a>
</div>

<script type="text/javascript" src="/resources/js/confirm_CUD.js"></script>
<script type="text/javascript" src="/resources/js/header_script.js"></script>
<script th:inline="javascript">
    createHeader('Create Task');
</script>
</body>
</html>