<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello my friend</title>
    <link rel="stylesheet" href="/resources/css/clearing.css">
    <link rel="stylesheet"
            href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css"/>
    <link rel="stylesheet" href="/resources/css/header.css">
</head>
<body>

<header>

</header>

<script src="/resources/js/header_script.js"></script>
<script th:inline="javascript">
    createHeader('');
</script>
</body>
</html>