<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello my friend</title>
    <link rel="stylesheet" href="/resources/css/welcome.css">
    <link
            rel="stylesheet"
            href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css"
    />
</head>
<body>
<div class="div1">
    <a href="/"><img src="/resources/img/welcome_page_logo.png" alt="" width="30%" height="30%"></a>
    <div class="div2">
        <div class="data_ref">
            <a class="text_ref" href="/peers/">Data</a>
        </div>
        <div class="operations_ref">
            <a class="text_ref" href="/peers/">Operations</a>
        </div>
    </div>
</div>
</body>
</html>