<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Verter's Check</title>
    <link rel="stylesheet" href="/resources/css/clearing.css">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansDisplay.0.1.0.css"/>
    <link rel="stylesheet" href="/resources/css/header.css">
    <link rel="stylesheet" href="/resources/css/error_msg.css">

</head>
<header></header>
<body>
<div class="container">
    <form action="#" th:action="@{/verters/new}" th:object="${verter}"
          th:method="POST">

        <div class="form-group row mt-5">
            <label for="checkId" class="col-sm-2 col-form-label">Check Id</label>
            <input type="number" id="checkId" th:field="*{checkId}"
                   placeholder="Check Id" class="form-control mb-4 col-4" aria-describedby="checkIdError">
            <small class="error_message" id="checkIdError"
                   th:if="${#fields.hasErrors('checkId')}" th:errors="*{checkId}">error checkId</small>
        </div>

        <div class="form-group row mt-5">
            <label for="checkState" class="col-sm-2 col-form-label">State</label>
            <select id="checkState" th:field="*{checkState}">
                <option th:each="checkState : ${states}" th:value="${checkState}" th:text="${checkState.name()}">
                </option>
            </select>
            <small class="error_message" id="stateError"
                   th:if="${#fields.hasErrors('checkState')}" th:errors="*{checkState}">error checkState</small>
        </div>

        <div class="form-group row mt-5">
            <label for="time" class="col-sm-2 col-form-label">Time</label>
            <input type="time" id="time" th:field="*{time}"
                   class="form-control mb-4 col-4" aria-describedby="timeError">
            <small class=" error_message " id="timeError"
                   th:if="${#fields.hasErrors('time')}" th:errors="*{time}">error time</small>
        </div>


        <button type="submit" class="btn btn-info col-2" onclick="return confirm_save()">Save</button>
    </form>

    <hr>

    <a th:href="@{/verters/}"> Back</a>
</div>

<script type="text/javascript" src="/resources/js/confirm_CUD.js"></script>
<script type="text/javascript" src="/resources/js/header_script.js"></script>
<script th:inline="javascript">
    createHeader('Create Verter\'s Check');
</script>
</body>
</html>